*{


}
body{
    background-color: rgb(216,210,209);
}
#title{
    color: rgb(178,25,4);
    font-family: "Gadugi";
}
div{
    font-size: 15px;
    font-family: "Gadugi";
}
div.form-input{
    background-color: rgb(222,222,222);
}
#button-delet{
    background-color: rgb(222,222,222);
    padding: 6px;
    margin-top: 1em;
    border:2px dashed red;
    font-family: "Verdana";
    border-radius: 10px;
}
#button-send{
    background-color: rgb(222,222,222);
    padding: 1em;
    margin-top: 1em;
    border:2px dashed green;
    font-family: "Verdana";
     border-radius: 10px;
}
#thanks{
    color: rgb(147,33,18);
    border: 2px solid rgb(147,33,18);
}